body {
	font-family: Verdana, Tahoma, sans-serif;
	color: #605E5D;
	font-size: 97%;
	margin: 0;
	padding: 0;
	font-size: 97%;
	margin: 0;
	padding: 0;
	background-color: #E4F3F6;
}

a,a:link {
	color: #605E5D;
}

input[type="submit"] {
  margin: 15px 0;

}

input[type="text"] {
  
}

.message {
  color: darkgreen;
  font-weight: bold;
  
}

.error {
  color: red;
  font-weight: bold;
}


label {
  display: inline-block;
  min-width: 7em;
}

a:visited {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

#header {
	background-image: url("../images/Benno_logo_tp_weiss.png");
	background-repeat: no-repeat;
	height: 86px;
	width: 242px;
	margin-top: 10px;
}

#header a {
	height: 86px;
	width: 242px;
	margin-top: 10px;
	  padding: 71px 137px;
}

#container {
	width: 800px;
	margin: 4px auto 0;
}


ul#navigation,ul#breadcrumbs,ul#subnav,ul#fachbereiche {
	list-style-type: none;
	padding-left: 0;
}



ul#subnav {
	float: right;
  font-size: 12px;
	margin: -45px -11px 0 0;
}

ul#subnav li {
  float: left;
}

ul#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#list li {
  margin: 5px;
}


img {
  border: 0 none;
}

 
li a.ui-state-default {
  border-bottom: 0 none;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  
}

li a.active {
 border-bottom: 0 none;
  border-top: 1px solid #eb8f00;
  border-left: 1px solid #eb8f00;
  border-right: 1px solid #eb8f00;
}


#content {
	background-color: white;
	padding: 18px 10px 10px 10px;
	margin: 3px 0px 20px 0px;
		clear: both;
		min-height: 108px;
}

#breadcrumbs_container {
	margin-top: 20px;
	font-size: 12px;
	min-height: 3px;
}

ul#breadcrumbs li {
	float: left;

}

#footer {
	font-size: 70%;
}

img#powered {
	margin-top: -12px;
	float: right;
}

img#book {
vertical-align: middle;
float:left;
margin-right: 4px;
}


#pg_etikett_toppager, #pager_etikett {
	font-size: 80%;
}


