
[% PROCESS site/header.tt %]

<div id="header">
<a href="[% c.uri_for('/') %]">   </a></div>

  


[% PROCESS site/menu.tt %]


<div id="content">
[%# Status and error messages %]
        [% IF status_msg || c.request.params.status_msg %]
        <span class="message">[% status_msg || c.request.params.status_msg | html %]</span>
        [% END %]
        <span class="error">[% error_msg %]</span>

[% content %]
</div>

[% PROCESS site/footer.tt %]


