<ul id="list">

 [%- FOR labelgroup IN labelgroups %]
<li><a href="[% c.uri_for_action('/label/list', [ labelgroup.shortname ])%]">[%labelgroup.name%]</a></li>

 [% END %]
 
</ul>



[% location = "start"; %]
